[submodule "lgsvl_msgs"]
	path = lgsvl_pkgs/lgsvl_msgs
	url = ../lgsvl_msgs.git
	branch = protobuf

[submodule "safety_layer"]
	path = modules/safety_layer
	url = ../../safety_layer/cyber_module.git
	branch = master
